body {
  background-color: #1F1F1F;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.app-title {
  flex-basis: 100%;
  color: whitesmoke;
}

.pokemon-div {
  position: relative;
  display: flex;
  color: white;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 30%;
  flex-direction: row;
  width: 200px;
  margin: 20px;
  border: 2px solid rgb(143, 30, 30);
  border-radius: 5px;
}

.pokemon-div div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: space-between;
  align-items: center;
  flex-basis: 50%;
}

.pokemon-id {
  position: absolute;
  color: #909090;
  left: 10px;
  top: 5px;
}

#pokemon-lower-div {
  justify-content: center;
  flex-basis: 100%;
}

.bi-star,
.bi-star-fill {
  position: absolute;
  right: 10px;
  font-size: x-large;
}

@media screen and (max-width: 640px) {
  .bi-star-fill {
    position: relative;
    right: 0px;
    font-size: x-large;
    margin-bottom: 10px;
  }
}

.type-image {
  height: 50px;
  width: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
