html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 25px;
  font-size: x-large;
}

ul {
  list-style: none;
  padding: 0
}

h1 {
    font-size: 150%;
}

h1, h2 {
    margin-top: 40px;
}

header p {
    font-size: 150%;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    text-decoration: underline;
}

p {
  text-align: justify;
  margin: 30px 0;
  line-height: 1.5;
}

@media screen and (min-width: 600px) {
    body {
        font-size: xx-large;
        margin: 50px;
    }

    h2 {
        margin-top: 80px;
    }

    p {
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1280px) {
    body {
        max-width: 1300px;
    }

    .aside-one ul {
        display: flex;
        align-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 250px;
    }

    .aside-one ul li {
        flex-basis: 15%;
    }
}
