body {
    font-size: 16px;
  }

  #area_exercicios h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
  }

  /*
  ul {
       background-color: darkgrey;
  }
  */

  .favoriteColor {
    background-color: darkgrey;
  }

  #area_exercicios p {
    font-weight: 600;
    font-size: 3em;
  }

  #questoes_exercicios p {
    font-style:italic;
    line-height: 20px;
    text-align: justify;
    text-decoration: dotted;
  }

  #favColor1 {
    background-color: yellow;
  }

  #favColor2 {
    background-color: red;
  }

  #favColor3 {
    background-color: brown;
  }